html {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    max-height: 100%;
    float: left;
    width: 100%;
    overflow: hidden;
}

.selected {
    background-color: #007bff;
}

.table-wrapper {
    max-height: 500px;
    overflow: auto;
    display:inline-block;
}